/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt { flavor = "tap-preferred"; };

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    combos {
        compatible = "zmk,combos";

        to_system_left {
            bindings = <&to 3>;
            key-positions = <38 36>;
        };

        to_system_right {
            bindings = <&to 3>;
            key-positions = <39 41>;
        };
    };

    macros {
        //
        // Unicode Macros for German Umlauts and Currency Symbols
        // Linux version using Ctrl+Shift+U method
        //
        // German Umlauts - Lowercase
        // ä - U+00E4

        a_umlaut: a_umlaut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp N0 &kp N0 &kp E &kp N4>,
                <&macro_tap>,
                <&kp SPACE>;
        };

        // ö - U+00F6

        o_umlaut: o_umlaut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp N0 &kp N0 &kp F &kp N6>,
                <&macro_tap>,
                <&kp SPACE>;
        };

        // ü - U+00FC

        u_umlaut: u_umlaut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp N0 &kp N0 &kp F &kp C>,
                <&macro_tap>,
                <&kp SPACE>;
        };

        // ß - U+00DF

        eszett: eszett {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp N0 &kp N0 &kp D &kp F>,
                <&macro_tap>,
                <&kp SPACE>;
        };

        // German Umlauts - Uppercase
        // Ä - U+00C4

        a_umlaut_upper: a_umlaut_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp N0 &kp N0 &kp C &kp N4>,
                <&macro_tap>,
                <&kp SPACE>;
        };

        // Ö - U+00D6

        o_umlaut_upper: o_umlaut_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp N0 &kp N0 &kp D &kp N6>,
                <&macro_tap>,
                <&kp SPACE>;
        };

        // Ü - U+00DC

        u_umlaut_upper: u_umlaut_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp N0 &kp N0 &kp D &kp C>,
                <&macro_tap>,
                <&kp SPACE>;
        };

        // Currency Symbols
        // € - U+20AC

        euro: euro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp N2 &kp N0 &kp A &kp C>,
                <&macro_tap>,
                <&kp SPACE>;
        };

        // ₹ - U+20B9

        rupee: rupee {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp N2 &kp N0 &kp B &kp N9>,
                <&macro_tap>,
                <&kp SPACE>;
        };
    };

    behaviors {
        euro_rupee: euro_rupee {
            compatible = "zmk,behavior-mod-morph";
            label = "EURO_RUPEE";
            bindings = <&euro>, <&rupee>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_LALT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&none  &kp Q  &kp W  &kp F  &kp P  &kp B  &kp J  &kp L  &kp U  &kp Y  &kp COLON  &none  &none  &kp A  &mt LCMD R  &mt LALT S  &mt LCTRL T  &kp G  &kp M  &mt RCTRL N  &mt LALT E  &mt RCMD I  &kp O  &none  &none  &kp Z  &kp X  &kp C  &kp D  &kp V  &kp K  &kp H  &kp COMMA  &kp DOT  &kp QUESTION  &none  &kp TAB  &sk LSHFT  &lt 2 ESC  &lt 1 BACKSPACE  &kp SPACE  &kp ENTER
            >;
        };

        symbols_numbers {
            display-name = "SYMNUM";
            bindings = <
&none  &kp RIGHT_BRACKET  &kp N1  &kp N2  &kp N3  &kp LEFT_BRACKET  &kp UNDER  &kp PLUS  &kp SLASH  &kp MINUS  &kp SEMICOLON  &none  &none  &kp RIGHT_BRACE  &mt LCMD NUMBER_4  &mt LALT N5  &mt LCTRL N6  &kp LEFT_BRACE  &kp PIPE  &mt RCTRL LESS_THAN  &mt LALT EQUAL  &mt RCMD GREATER_THAN  &kp DOUBLE_QUOTES  &none  &none  &kp BACKSLASH  &kp N7  &kp N8  &kp N9  &kp NUMBER_0  &euro  &rupee  &kp TILDE  &kp GRAVE  &kp SINGLE_QUOTE  &none  &a_umlaut  &sk LSHFT  &eszett  &none  &o_umlaut  &u_umlaut
            >;
        };

        navigation_multimedia {
            display-name = "NAVMUM";
            bindings = <
&none  &kp F1  &kp F4  &kp F5  &kp C_BRI_DN  &kp C_BRI_UP  &kp LEFT  &kp RIGHT  &kp HOME  &kp END  &none  &none  &trans  &kp LCMD  &kp LALT  &kp K_PLAY_PAUSE  &kp C_VOL_DN  &kp C_VOL_UP  &none  &none  &kp PRINTSCREEN  &kp LALT  &kp RCMD  &none  &none  &eszett  &a_umlaut  &o_umlaut  &u_umlaut  &euro_rupee  &kp UP  &kp DOWN  &kp PAGE_UP  &kp PAGE_DOWN  &trans  &none  &trans  &to 0  &trans  &trans  &trans  &trans
            >;
        };

        system {
            display-name = "SYSTEM";
            bindings = <
&none  &bootloader  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none  &none  &none  &none  &bootloader  &none  &none  &sys_reset  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &none  &none  &none  &none  &sys_reset  &none  &none  &studio_unlock  &bt BT_NXT  &bt BT_PRV  &bt BT_CLR  &bt BT_CLR_ALL  &none  &none  &none  &none  &studio_unlock  &none  &kp K_SLEEP  &to 0  &none  &none  &none  &none
            >;
        };
    };
};
